@import '@shadcn/ui/dist/styles.css';

:root {
    --background-color: #ffffff;
    --dark-background-color: #1a1a1a;
    --text-color: #333;
    --box-color: #D2691E;
    --checked-color: #D2691E;
}

.dark-mode {
    --background-color: #333;
    --text-color: #D2691E;
    background-color: var(--dark-background-color);
    color: var(--text-color);
}

h1 {
    color: #D2691E;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle-btn button {
    background: none;
    border: none;
    cursor: pointer;
}

.theme-icon {
    width: 24px;
    height: 24px;
}

.save-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checklist .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checklist input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--box-color);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-input {
    flex-grow: 1;
    border: none;
    border-bottom: 2px solid var(--box-color);
    padding: 8px;
    background: none;
    outline: none;
    transition: border-color 0.3s;
}

/* Tema escuro */
body.dark-mode .container {
    background-color: var(--dark-background-color);
    color: var(--text-color);
}

body.dark-mode .save-btn {
    background-color: #D2691E;
}

body.dark-mode .checklist input[type="checkbox"] {
    background-color: var(--checked-color);
}

body.dark-mode .task-input {
    border-bottom-color: var(--checked-color);
}